@tailwind base;
@tailwind components;
@tailwind utilities;

b {
  color : hsl(161, 23%, 16%)
}


@layer base {
  :root, .dark {
    --background: 202 23% 16%;
    --foreground: 202 40% 98%;
 
    --primary: 202 10% 10%;
    --primary-foreground: 160 40% 8``0%;
 
    --secondary: 202 12% 58%;
    --secondary-foreground: 202 40% 98%;

    --muted: 160 32.6% 17.5%;
    --muted-foreground: 160 40% 50%;

    --dropdown: 200 23% 18%;
    --dropdown-foreground: 202 40% 98%;
 
    --destructive: 0, 72%, 51%;
    --destructive-foreground: 202 40% 98%;
 
    --link : 202 5% 70.4%;
    --border: 160 52.6% 30.5%;
    --input: 202 22% 21%;
  }
}

:root, html {
  @apply scroll-smooth min-h-full w-full
}
* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground w-full h-full;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply !h-1 !w-1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-border;
}